 .decision-table {
  width    : 100%
  padding  : 15px;
  border   : 0px solid;
  td {
   padding         : 15px
   'vertical-align': top
  }
 }

.decision-action-table {
 tr {
  width:50%
 }
 width: 100%
}
